html {
    height: 90%;
}

.cropcircle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background:no-repeat center;
    background-size: cover;

}

body {
    box-sizing: border-box;
    position: relative;
    background-image: url("../images/bumperBG.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Baloo Tammudu', cursive;
    height: 100vh;
    background: no-repeat center cover;
}

#headTitle {
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-bottom: 5px solid lightslategray;
    background-color: rgba(240, 240, 240, 0.651);
    height: 35px;
    padding: 20px 0px 50px 0px;
}

h1 {
    margin: 0 0 8px 0;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0.1);
    background-image: url("../images/bumperBG.jpg");
}

.searchBox {
    font-size: 18px;
    padding-top: 20px;
    /* padding-bottom: 5%;
    height: 50px;
    margin-left: auto;
    margin-right: auto; */
}

label {
    padding: 5px;
}

.container-fluid {
    position: absolute;
    margin: 0;
    padding: 0;
    transition: .2s;
    left: 408px;
    right:0px;
    top: 152px;
    bottom: 0;
    border-top: 5px solid lightslategray;
    margin-top: 5px;
    width: unset;
}

.btn {
    width: 110px;
    margin-top: 10px;
}

.container {
    margin-top: 5px;
    border-top: 5px solid lightslategray;
    border-right: 3px solid lightslategray;
    width: 408px;
    position: absolute;
    z-index: 10;
    background-color: white;
    transition: left .2s;
    overflow-y:scroll;
    overflow-x:hidden;
    top:152px;
    bottom: 65px;
}

#shrink {
    transition-duration: .2s;
    z-index: 20;
    position:absolute;
    left: 408px;
    top: 262px;
}

.border{
    border-width: 1px 0 0 0;
    border-color: lightgrey;
    border-style:solid;
}

#flights {
    z-index: -1;
}

#info{
    z-index: -1;
}
#back {
    margin: 0 auto;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 408px;
    background-color: gray;
    /* -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0.1);
    background-image: url("../images/bumperBG.jpg"); */
    border-top: 5px solid lightslategray;
    height: 25px;
    padding: 30px 10px 30px 10px;
    z-index: 25;
    text-align: center;
    margin: auto;
}

.endDateInput, .startDateInput {
    width: 120px!important;
    font-size: 10px;
}

.totalCost {
}

p {
    margin: 10px 0;
    display: block;
}

@media screen and (max-width: 768px) {
    html {
        height: 100vh;
    }    

    body {
        height: 100%;
        width: 100vw;
    }

    #navbarSupportedContent {
        padding: 10px;
        border: 5px solid lightslategray;
        border-radius: 15px;
        background-color: rgba(240, 240, 240, 0.651);
    }

    .container-fluid {
        display: none;
        width: 100vw;
    }

    h4 {
        font-size: 18px;
        float: right;
        max-width: 150px;
    }

    h4:last-child {
        float: none;
        margin: auto;
        text-align: center;
    }
    
    .conInfo {
        float: left;
        margin: auto;
        padding: 5px 10px 0 5px;
    }

    .concert {
        padding: 5px;
        font-size: 10px;
    }

    #shrink {
        display: none;
    }

    #results-col, #info, #flights {
        width: 100vw;
        border-right: none;
    }

    #footer {
        width: 100vw;
        text-align: center;
        margin: auto;
    }
}

.hotelRow{
    display: block
}
